.wallpaper{
    display: flex;
    justify-content: start;
    flex-flow: wrap;
    align-items: center;
    margin:0 auto;
}

.wallpaper_such{
    width: 20vw;
    margin: 2rem;
}

.wallpaper_image{
    width: 20vw;
}

.heading{
    margin-left:2rem;
}

@media (max-width:480px) {
    .wallpaper_such{
        width:40vw;
        margin:0.75rem;
    }

    .wallpaper_image{
        width: 40vw !important;
    }

    .heading{
        margin-left:0.75rem;
    }
}